<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Ajoutez la permission Internet ici -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/event"
        android:label="@string/app_name"
        android:roundIcon="@drawable/event"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- Activité principale avec l'écran de connexion -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activité pour l'inscription -->
        <activity
            android:name=".SignupActivity"
            android:exported="true" />

        <!-- Activité pour afficher le profil -->
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />

        <!-- Activité pour éditer le profil -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragment"
            android:exported="true" />


        <!-- Suppression de l'activité white_background si non nécessaire -->
    </application>

</manifest>
